<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품등록</title>
</head>
<body>
상품등록
<form id="frm" action="" method="post" th:object="${createForm}">
    <div>
        <label for="pname">상품명</label>
        <input type="text" id="pname" name="pname" th:field="*{pname}">
    </div>
    <div>
        <label for="quantity">수량</label>
        <input type="text" id="quantity" name="quantity" th:field="*{quantity}">
    </div>
    <div>
        <label for="price">가격</label>
        <input type="text" id="price" name="price" th:field="*{price}">
    </div>
    <div><input type="submit" value="등록"></div>
</form>
</body>
</html>