<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품수정</title>
</head>
<body>
<h3>상품수정</h3>
<div class="field-error" th:errors="${updateForm}">...</div>

<form id="frm" action="" th:method="post" th:object="${updateForm}">
    <div>
        <label for="pid">상품번호</label>
        <input type="text" id="pid" name="pid" readonly th:field="*{pid}">
    </div>
    <div>
        <label for="pname">상품명</label>
        <input type="text" id="pname" name="pname" th:field="*{pname}" th:errorclass="fieldError">
        <span class="field-error" th:errors="*{pname}"></span>
    </div>
    <div>
        <label for="quantity">수량</label>
        <input type="text" id="quantity" name="quantity" th:field="*{quantity}" th:errorclass="fieldError">
        <span class="field-error" th:errors="*{quantity}"></span>
    </div>
    <div>
        <label for="price">가격</label>
        <input type="text" id="price" name="price" th:field="*{price}" th:errorclass="fieldError">
        <span class="field-error" th:errors="*{price}"></span>
    </div>
    <div><input type="submit" value="수정완료" id="updateSubmit" th:data-pid="*{pid}"></div>
</form>


</body>
</html>